<div class="d-flex align-items-center header clearfix">
    <h1 class="logo flex-one"><a class="logo" ng-click="postList()" href="">Social Media</a></h1>
    <div class=" d-flex flex-two justify-content-around">
        <a class="header-link" ui-sref="dashboard.postList">Posts</a>
        <a class="header-link" ui-sref="dashboard.createPost">Create Post</a>
        <a class="header-link" ui-sref="dashboard.users">Users</a>
        <a class="header-link" ui-sref="dashboard.pending">Pending Requests</a>
        <a class="header-link" ui-sref="dashboard.sent">Sent Requests</a>
        <a class="header-link" ui-sref="dashboard.myprofile">Profile</a>
        <a class="header-link" ng-click="logout()" href=""><span class="glyphicon glyphicon-name"></span>Logout</a>
    </div>

</div>